node_modules
.vscode
dist
.parcel-cache
src/data/*.json
**/*.DS_Store
util/output*.json
yarn-error.log
venv
nodeenv
util/._output_chennai.json
util/._output_vellore.json
src/._data
._.parcel-cache
._dist
._yarn.lock
._node_modules
src/js/._timetable.js

